<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<p>Find sem at <%= @user.first_name %> at <%= @user.email %></p>
<p><%= @user.bio %></p>
<% unless @user.articles.empty? %>
<h4> articles wirrtn by <%= @user.full_name %></h4>
<% @user.articles.each do |a| %>
  <%= link_to "#{a.title}", a %><br>
  <% end %>
  <% else %>
  <h4>
<%= @user.first_name %> hasnt written any articles yet</h4>
<% end %>
